* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background: 
    linear-gradient(
        rgba(84, 181, 210, 0.79),
        rgba(84, 181, 210, 0)
    ) fixed,
    url("https://source.unsplash.com/UMJUr3st0AE/2400x1586") no-repeat center center / cover fixed;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 1.2em;
    }
}

header {
    margin: 1.5em 0;
    padding: 0 1.5em;
    color: white;
    text-shadow: 0 0 .2em rgb(0, 0, 0,  .3);
    text-align: center;
}

h1 {
    font-weight: 500;
}

#title, #description {
    margin:0;
}

#description {
    font-weight: 300;
    margin-top: 1em;
}

#survey-form {
    background: rgba(11, 99, 126, 0.8);
    color: white;
    padding: 1.5em;
    margin: 0 auto;
    font-weight: 300;
    max-width: 700px;
}

@media screen and (min-width: 600px) {
    #survey-form {
        padding: 2em;
    }
}

@media screen and (min-width: 700px) {
    #survey-form {
        margin: 0 auto 2em;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    }
}

input {
    font-weight: 300;
}

input:focus, #dropdown:focus, textarea:focus {
    outline-color: rgba(0, 0, 255, 0.146);
}



input, select {
    padding: .5em;
}

.radio-input, .checkbox-input {
    display: flex;
    align-items: center;
    margin: .4em 0 .7em;
}

.radio-input input,
.checkbox-input input {
    width: 1.1em;
    height: 1.1em;
    margin-right: .4em;
}

.radio-input label,
.checkbox-input label {
    flex-grow: 1;
}

.text-inputs input {
    display: block;
    width: 100%;
    margin: .2em 0 1.2em;
}

.inputs {
    margin: .2em 0 1.2em;
}

#dropdown {
    display: block;
    margin: .2em 0 1.2em;
    width: 100%;
}

.checkbox-title {
    display: flex;
    align-items: center;
}

.input-title {
    margin: 0;
}

#submit {
    width: 100%;
    background: rgb(185, 239, 123);
    border: 0;
}

#submit:hover {
    background: rgba(185, 239, 123, 0.8);
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 8em;
    margin: .2em 0 1.2em;
}

/* Utility Classes*/

.small {
    font-size: .7em;
    margin-left: .4em;
}
